<html>
<head>
    <meta name="salesforce-community" content="https://lucgilr-developer-edition.eu6.force.com/customers">
	<meta name="salesforce-mode" content="modal-callback">
	<meta name="salesforce-save-access-token" content="true">
	<meta name="salesforce-allowed-domains" content="https://sfdc-login-token.herokuapp.com/">
	<script src="https://lucgilr-developer-edition.eu6.force.com/customers/servlet/servlet.loginwidgetcontroller?type=javascript_widget" async defer></script>
</head> 
<body></body>    
</html>