<html>
<head>
    <meta name="salesforce-community" content="https://vldtest-developer-edition.eu6.force.com/externalid">
	<meta name="salesforce-mode" content="modal-callback">
	<meta name="salesforce-save-access-token" content="true">
	<meta name="salesforce-allowed-domains" content="https://sfdc-login-token.herokuapp.com/">
	<script src="https://vldtest-developer-edition.eu6.force.com/externalid/servlet/servlet.loginwidgetcontroller?type=javascript_widget&min=false&cacheMaxAge=0" async defer></script>
</head> 
<body></body>    
</html>
