+<!DOCTYPE html>
 +<html>
 +<head>
 +	<title>Test</title>
 +	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
 +	<script type="text/javascript" src="/js/index.js"></script>
 +</head>
 +<body>
 +	<form method="post" role="login" id="loginInfo">
 +        <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
 +        <input type="text" id="username" name="username" placeholder="username" required class="form-control input-lg" />
 +		<input type="password" id="password" class="form-control input-lg" placeholder="Password" required="" />
 +        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
 +    </form>
 +</body>
